.progressbar-container{
    margin-bottom: .7rem;
    padding: 5px;
    font-family: "League Spartan", sans-serif;
    position: relative;
    top: 13%;
    right: 35%;
    z-index: 4;
    display: flex;
    align-items: center;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 4px 4px 10px 2px #000000;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.progresscircle{
    margin: 0 .5rem;
    padding: .4rem;
    width: 5.3rem;
    filter: drop-shadow(10px 10px 10px #000000);
}

.progresscircle-title{
    right: -12%;
    padding: .5rem 5rem .5rem 2rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    text-wrap: nowrap;
    text-shadow: 2px 2px 3px #000000;
}

@media screen and (max-width:375px) {
    .progressbar-container{
        top: 0;
        right: 0;
    }
    .progresscircle{
        width: 4rem;
    }
    .progresscircle-title{
        font-size: .8rem;
    }
}