.progressbar-container{
    font-family: "League Spartan", sans-serif;
    position: relative;
    top: 20%;
    right: 45%;
    z-index: 4;
    display: flex;
    align-items: center;
}


.progressbar-path{
    fill: #5266ce;
}

.main-title{
    position: relative;
    right: -12%;
    padding: .5rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-wrap: nowrap;
    text-shadow: 2px 2px 3px #000000;
}

.left-title{
    position: relative;
    right: -12%;
    padding: .5rem .4rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    text-wrap: nowrap;
    text-shadow: 2px 2px 3px #000000;
}