
#Home{
    background:linear-gradient(180deg,#1f0537,#271770);
}

.forest{
    width:100vw;
    position: absolute;
    bottom: -1.2rem;
    z-index: 0;
}

.clouds{
    width:100vw;
    position: absolute;
    top: 0rem;
    filter: opacity(80%);
    z-index: 0;
}

.hero-container{
    height: 100vh;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(2px);
}

.hero-text-container{
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
}

.hero-text-container h2{
    padding: 1rem;
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    color:  #beaeae;
    text-shadow: 3px 3px 10px #151516;
}


.hero-text-container h1{
    padding: 1rem;
    font-family: "Timmana", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color:  #ffff;
    text-shadow: 3px 3px 10px #101011;
    line-height: 3rem;
}

.hero-text-container h1::after{
    display: inline-block;
    content:'';
    margin-left: .5rem;
    width:3px;
    height: 35px;
    background-color:#ffffff;
    animation: blink 1000ms infinite;
}

.social-profiles{
    padding-left: 1rem;
}

.social-profiles ion-icon{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 2rem;
    color: #ffff;
    transition: all ease 200ms;
}

.social-profiles ion-icon:hover{
    color: #ac3535;
    cursor: pointer;
}

.hero-btn button{
    margin:.5rem 1rem;
    padding: 8px 14px;
    border-radius: .9rem;
    box-shadow: 5px 5px 7px #0000;
    font-size: 1rem;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    transition: all ease 400ms;
    cursor: pointer;
}

.contact-btn{
    position: absolute;
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
}

.know-btn{
    border: 2px solid#ffff;
    background-color: transparent;
    color: #ffff;
}

.contact-btn:hover{
    background-color: orange;
    color: #fff;
}

.know-btn:hover{
    background-color: #ffff;
    color: #4a00f1;
}

.scroll-btn{
    margin-top: 1rem;
    margin-left: 7rem;
    width: 2.5rem;
}

.slider-text{
    width: 50%;
    font-family: "League Spartan", sans-serif;
    font-size: 15rem;
    font-weight: 900;
    position: absolute;
    bottom: 10%;
    color: #ffffff05;
    white-space: nowrap;
    z-index: -1;
}

.tool-image-container{
    width: 25rem;
    filter: opacity(80%);
    z-index:3;
}

.tool-image-container img{
    width: 25rem;
}

@keyframes blink{
    to{
      background:transparent;
    }
  }

  @media screen and (max-width:400px) {

    .tool-image-container{
        display: none;
    }

    .hero-text-container{
        margin: 1.5rem;
        /* text-align: center; */
    }

    .hero-text-container h1{
        max-width: 100%;
        font-size: 2rem;
    }

    .hero-text-container h2{
        margin-top: 4rem;
        font-size: 1.2rem;
    }

    .social-profiles ion-icon{
        width: 1.2rem;
        height: 1.2rem;
    }

    .hero-btn button{
        padding: .4rem .6rem;
        margin: 1rem .4rem .5rem;
        font-size: .8rem;
    }

    .scroll-btn{
        width: 1.5rem;
        margin: 0;
        margin-left: 5rem;
    }

    .slider-text{
        width: 0;
        display: none;
    }
}
