
#Home{
    background:linear-gradient(180deg,#02133a,#62598b);
}

#Home .forest{
    width:100vw;
    position: absolute;
    bottom: -1.2rem;
    z-index: 2;
}

#Home .clouds{
    width:100vw;
    position: absolute;
    top: 0rem;
    filter: opacity(80%);
    z-index: 1;
}

#Home .tools{
    width:25rem;
    position: absolute;
    top: 20%;
    right: 10%;
    filter: opacity(90%);
    z-index: 99;
}


#Home h2{
    position: absolute;
    top: 27%;
    left: 15%;
    font-family: "League Spartan", sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: bold;
    color:  #beaeae;
    text-shadow: 3px 3px 10px #151516;
    z-index: 99;
}

#Home h1{
    width: 30%;
    position: absolute;
    top: 37%;
    left: 15%;
    font-family: "Timmana", sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color:  #ffff;
    text-shadow: 3px 3px 10px #101011;
    line-height: 3rem;
    z-index: 99;
}

#Home h1::after{
    display: inline-block;
    content:'';
    margin-left: .5rem;
    width:3px;
    height: 35px;
    background-color:#ffff;
    animation: blink 1000ms infinite;
  }
  
.social-profiles{
    position: absolute;
    top: 54%;
    left: 15%;
    z-index: 99;
}

.social-profiles ion-icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    color: #ffff;
    transition: all ease 200ms;
}

.social-profiles ion-icon:hover{
    color: #ac3535;
    cursor: pointer;
}

#Home button{
    margin-right: 1rem;
    padding: 7px 14px;
    z-index: 99;
    border-radius: .9rem;
    box-shadow: 5px 5px 7px #0000;
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
    transition: all ease 400ms;
}

.contact-btn{
    position: absolute;
    top: 62%;
    left: 25%;
    position: absolute;
    border: 2px solid#ffff;
    background-color: transparent;
    color: #ffff;
}

.know-btn{
    position: absolute;
    top: 62%;
    left: 15%;
    border: 2px solid#4a00f1;
    background-color: transparent;
    color: #4a00f1;
}

.contact-btn:hover{
    background-color: #ffff;
    color: #4a00f1;
}

.know-btn:hover{
    background-color: #4a00f1;
    color: #ffff;
}

.scroll-btn{
    width: 2.5rem;
    position: absolute;
    top: 72%;
    left: 22%;
    z-index: 99;
}

.slider-text{
    z-index: 5;
    width: 50%;
    font-family: "League Spartan", sans-serif;
    font-size: 15rem;
    font-weight: 900;
    position: absolute;
    top: 60%;
    color: #ffffff09;
    white-space: nowrap;
}

  @keyframes blink{
    to{
      background:transparent;
    }
  }

@media screen and (max-width:1115px) {
    #Home h2{
        top: 24%;
    }
    
    #Home h1{
        top: 31%;
    }
}