#About{
    position: relative;
    background:linear-gradient(180deg,#1f0537,#271770);
}

.mountain{
    width:100vw;
    position: absolute;
    bottom: 0;
    filter: opacity(100%);
    z-index: 0;
}

.clouds{
    width:100vw;
    position: absolute;
    top: 0rem;
    filter: opacity(80%);
    z-index: 1;
}

.about-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    backdrop-filter: blur(3px);
}

.academic-container{
    margin-left: 2rem;
    color: #0000;
    width: 80%;
}

.academic-container .vl{
    position: absolute;
    width: 7px;
    height: 83vh;
    background: #fff;
    top: 12%;
    left: 31.5%;
    margin-left: -3px;
    z-index: -1;
}

.skill-container{
 background:none;
}

.about-section-2{
    position: relative;
    z-index: 3;
    color: #000000;
    padding:7rem 5rem;
    display: grid;
    grid-template-columns: repeat(4,auto);
    backdrop-filter: blur(3px);
}

.section2-content{
    width: 16rem;
    padding: 1rem;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 4px 4px 10px 2px #000000;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease 600ms;
}

.about-text-box{
    height: 23rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-text-box span{
    color: #383838;
    font-size: .8rem;
    font-weight: 600;

}

.about-text-box hr{
    margin: 1rem 0;
    height: 2px;
    border: none;
    background-color: #383535;
}

.about-text-box p{
    font-size: .95rem;
}

.about-text-box a{
    color: #2e01a0;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 3px 3px 2px #00000056;
}

.section2-content img{
    width: 4rem;
    filter: drop-shadow(5px 5px 1px #201f1f);
    transition: all ease 500ms;
}

.section2-content img:hover{
    transform: scale(1);
}

.text-box-thumnail{
    top: -10%;
    position: relative;
}

@media screen and (max-width:1115px) {
    .academic-container{
        margin-left: 1rem;
        color: #0000;
    }
    
    .academic-container .vl{
        left: 29.5%;
    }

    .about-section-2{
        padding:8rem .5rem;
    }
    .section2-content{
        width: 16.5rem;
    }
}

@media screen and (max-width:400px) {
    .about-container{
        flex-direction: column;
    }

    .academic-container .vl{
        top: 7%;
        left: 2.2rem;
        width: 5px;
        height: 75vh;
    }
    .about-section-2{
        padding: 5rem 2rem;
        grid-template-columns: repeat(1,auto);
    }

    .section2-content{
        width: auto;
        margin-bottom: 2rem;
    }

    .about-text-box{
        height: auto;
    }

    .about-text-box span{
        font-size: .7rem;
    }
    
    .about-text-box p{
        font-size: .85rem;
    }
    
    .section2-content img{
        width: 3rem;
        filter: drop-shadow(5px 5px 1px #201f1f);
        transition: all ease 500ms;
    }
    
    .section2-content img:hover{
        transform: scale(1);
    }
    
    .text-box-thumnail{
        top: 0;
        left: -40%;
        position: relative;
    }
    
}