.timeline{
    position: relative;
    margin: 7rem auto;
}

.school-container{
    font-family: "League Spartan", sans-serif;
    padding: 10px 20px;
    position: relative;
    color: #000;
    width: 38%;
}

.text-box{
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 4px 4px 10px 2px #000000;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px 20px;
    border-radius: 6px;
    font-size: .9rem;
    box-shadow: 7px 7px #5266ce;
}

.year{
    font-size: 13px;
    color: #3d3939;
}

.school-container h1, .school-container h2{
    font-weight: 700;
}

.scon2{
    left: 41%;
}

.school-container ion-icon{
    padding: 10px;
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: #4a00f1;
    background-color: #fff;
    border-radius: 50%;
    right: -2rem;
    top: 3rem;
    z-index: 1;
}

.scon2 ion-icon{
    left: -2.2rem;
}

@media screen and (max-width:1115px) {
    
    .school-container{
        padding:10px;
    }
    
    .text-box{
        padding: 15px;
        font-size: .9rem;
    }
    
    .year{
        font-size: 12px;
    }

    .scon2{
        left: 41.3%;
    }
    
    .school-container ion-icon{
        padding: 10px;
        position: absolute;
        width: 1rem;
        height: 1rem;
        color: #4a00f1;
        background-color: #fff;
        border-radius: 50%;
        right: -2rem;
        top: 3rem;
        z-index: 1;
    }
    
    .scon2 ion-icon{
        left: -1.7rem;
    }
}

@media screen and (max-width:400px) {

    .timeline{
        margin: 6rem 0;
    }

    .school-container{
        width: 100%;
    }

    .text-box{
        font-size: .8rem;

    }

    .scon2{
        left: 0;
    }

    .school-container ion-icon{
        width: .5rem;
        height: .5rem;
        left: -1.5rem;
    }
}
