.mountain{
    width:100vw;
    position: absolute;
    bottom: 0;
    filter: opacity(100%);
    z-index: 0;
}

.clouds{
    width:100vw;
    position: absolute;
    top: 0rem;
    filter: opacity(80%);
    z-index: 0;
}

.skillset-container{
    height: 100vh;
    backdrop-filter: blur(3px);
}

.slider-container{
    margin: auto;
    padding:0 2em;
    width: 75rem;
}

.title-card3{
    padding: 7rem 0 0;
}

.title-card3 h1{
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#d1a8ee, #8070db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.exp-container{
    background: #d0c5ff7c;
    border-radius: 10px;
    border: 2px solid #ffffff2e;
    border: 1px solid #2e2d2d2e;
    padding: 2rem;
    margin:2rem 1rem;
    width: 20rem;
    height: 23rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 70%;
    filter: blur(3px);
    transition: all ease 1s;
}

.slick-center .exp-container{
    opacity: 100%;
    filter: none;
    transform: scale(1.1);
}

.skill-title-card{
    display: flex;
    flex-direction: column;
}

.titlebox-thumnail{
    width: 4rem;
    border-radius: 30%;
    filter: drop-shadow(3px 3px 5px #000);
}

.title-card-txt{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem 0; 
}

.title-card-txt h3{
    color: #000;
    font-size: 1.5rem;
    text-align: left;
}

.title-card-txt span{
    font-size: .9rem;
}

.skill-description{
    color: #1d1d1d;
    font-weight: 500;
}

.cyber-quote{
    position: relative;
    margin: .5rem 0;
    text-align: center;
    color: orange;
    font-size: 1rem;
    text-shadow: 3px 3px 3px #000;
    z-index: 2;
}


@media screen and (max-width:1115px) {
      
.slider-container{
    width: 65rem;
}

.title-card3 h1{
    font-size: 2.5rem;
}

.exp-container{
    padding: 1.5rem;
    width: 17rem;
    height: 24rem;
}

.titlebox-thumnail{
    width: 3rem;
}

.title-card-txt h3{
    font-size: 1.3rem;
}

.cyber-quote{
    font-size: 1rem;
}

}

@media screen and (max-width:400px) {


    .skillset-container{
        height: 100vh;
    }
    
    .slider-container{
        width: 23rem;
    }
    
    .title-card3{
        padding: 2rem 2rem 0;
        line-height: 3rem;
    }
    
    .title-card3 h1{
        font-size: 2.5rem;
    }
    
    .exp-container{
        margin: 2rem 0;
        width: 19rem;
        height: 23rem;
        opacity: 100%;
        filter: none;
    }
    
    .title-card-txt h3{
        font-size: 1.3rem;
    }
    
    .cyber-quote{
        padding: 0 2rem;
        font-size: .95rem;
    }
}