
nav {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffff;
  text-shadow: 2px 2px 7px #000000;
  background: #8686861c;
  box-shadow: 4px 4px 10px 2px #1b1a1a33;
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  border-radius: 0;
  border: none;
}

nav h1 {
  text-transform: uppercase;
  padding: 1.3rem;
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
  margin-left: 4rem;
  font-family: "Timmana", sans-serif;
  background-color: orange;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
}


nav ul {
  list-style: none;
  display: flex;
  padding: 1rem;
  font-family: "League Spartan", sans-serif;
}

nav li{
  list-style: none;
  margin: .7rem 0;
}

.navigator{
  margin-right: 2rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 400ms;
}


.current-page,.current-page:visited,.current-page:link{
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffa600;
  text-decoration: 3px underline orange;
  border-radius: 10px;
}


.navigator:hover{
  color: orange;
}

.toggle-btn{
  display: none;
}

.block-scroll{
  overflow: hidden;
}

.toggle-btn{
  background: none;
  border: none;
}

svg{
  background: none;
  cursor: pointer;
}

@media screen and (max-width:400px) {

  nav{
    position: fixed;
    top: 0;
    width: 100vw;
    margin: 0;
    background: #8686861c;
    box-shadow: 4px 4px 10px 2px #1b1a1a33;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 0;
    border: none;
  }

  nav h1{
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
  }

  nav ul{
    display: none;
  }

  .menubar{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 20%;
    left: 8%;
  }
  
  .toggle-btn{
    margin: 1.8rem 2rem 0;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
  }

  .sidebar{
    height: 0;
    background: #000000c0;
    box-shadow: 4px 4px 10px 2px #1b1a1a33;
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    animation: flow-down 700ms forwards;
  }

}

@keyframes flow-down {
  100%{
    height: 100vh;
  }
}