
nav {
  margin: .5rem;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffff;
  text-shadow: 2px 2px 7px #000000;
  background:transparent;
}

nav h1 {
  text-transform: uppercase;
  padding: 1.5rem;
  font-size: 3rem;
  font-weight: 900;
  cursor: pointer;
  margin-left: 4rem;
  font-family: "Timmana", sans-serif;
  background-color: orange;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  border-radius: 50%;
}

nav ul {
  display: flex;
  padding: 1rem;
  font-family: "League Spartan", sans-serif;
}

.navigator{
  margin-right: 2rem;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 400ms;
}


.navigator:hover,.navigator.active{
  font-size: 20px;
  filter: drop-shadow(10px 10px 1px #fff)
}

/* .navigator:hover::after,
.navigator.active::after {
  background-color: #e61638;
  width: 3rem;
} */

@media screen and (max-width:375px) {
  
}
