#Works{
    position: relative;
    background:linear-gradient(180deg,#1f0537,#271770);
    top: -1rem;
}

.mountains{
    width:100vw;
    position: absolute;
    bottom: 0;
    filter: opacity(100%);
    z-index: 0;
}


.progress{
    margin: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
} 

.progress h1{
    text-align: center;
    padding-top: 7rem;
    font-family: "Timmana", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: orange;
}

.progress-line-bar{
    height: 8px;
    background-color: #ffff;
}

.works-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 5;
}


.works-text-container{
    margin-top: 8rem;
    margin-left: 1rem;
    color: #ffff;
    width: 32rem;
    padding: 2rem;
    /* background: #00000081;
    box-shadow: 0 0 10px 2px #000000;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid #00000071; */
    z-index: 3;
}

.works-image img{
    margin-top: 8rem;
    border-radius: 1rem;
    /* background: #00000081;
    box-shadow: 0 0 10px 2px #1d1c1c;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 2rem;
    border: 1px solid #00000071; */
    width: 30rem;
    z-index: 3;
}

.works-text-container h2{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px #5a5959;
}

.works-text-container span{
    color:#706b6b ;
    font-size: .9rem;
    font-weight: 600;
}

.works-text-container p{
    padding: 1rem 0;
    font-size: 1.1rem;
}

.link-preview-btn{
    margin: .5rem 2rem .5rem 0;
    padding: .4rem 1.5rem;
    border: 2px solid #ffa600;
    border-radius: 1rem;
    background-color: transparent;
    color: #ffa600;
    text-transform: capitalize;
    cursor:pointer;
    z-index: 3;
}

.link-preview-btn:hover{
    background-color: #ffa600;
    color: #fff;
}

.link-preview-btn a{
    cursor: pointer;
}

.code-btn{
    margin: .5rem 0;
    padding: .4rem 1.5rem;
    border: 2px solid #2f00ff;
    border-radius: 1rem;
    background-color: transparent;
    color: #2f00ff;
    text-transform: capitalize;
    cursor:pointer;
}

.code-btn:hover{
    background-color: #2f00ff;
    color: #fff;
}

@media (max-width:400px) {
    .progress h1{
        font-size: 1.5rem;
        padding-top: 5rem;
    }

    .progress-line-bar{
        height: 4px;
    }

    .works-container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .works-image img{
        width: 100%;
        background: none;
        border-radius:0;
        border: none;
        box-shadow: none;
        margin-bottom: 1rem;
    }

    .works-text-container{
        padding: 0;
        margin: 0;
        width: 100%;
        background: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .works-text-container h2{
        padding: 0;
        font-size: 1.1rem;
    }

    .works-text-container span{
        font-size: .8rem;
    }

    .works-text-container p{
        margin: 0;
        font-size: .9rem;
    }

    .link-preview-btn,.code-btn{
        margin: 0 1rem 0 0;
        padding: .3rem .5rem;
        font-size: .7rem;
    }
}