#Works{
    position: relative;
    background:linear-gradient(180deg,#1f0537,#271770);
    top: -1rem;
}

.mountains{
    width:100vw;
    position: absolute;
    bottom: 0;
    filter: opacity(100%);
    z-index: 0;
}


.progress{
    margin: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
} 

.progress h1{
    text-align: center;
    padding-top: 7rem;
    font-family: "Timmana", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    background: -webkit-linear-gradient(#d1a8ee, #8070db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.progress-line-bar{
    height: 8px;
    background-color: #ffff;
}

.works-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    z-index: 5;
}


.works-text-container{
    margin-top: 12rem;
    margin-left: 1rem;
    color: #ffff;
    width: 32rem;
    padding: 2rem;
    /* background: #00000081;
    box-shadow: 0 0 10px 2px #000000;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid #00000071; */
    z-index: 3;
}

.works-image img{
    margin-top: 12rem;
    border: 8px solid #ffffff23;
    border-radius: 5px;
    /* background: #00000081;
    box-shadow: 0 0 10px 2px #1d1c1c;
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 2rem;
    border: 1px solid #00000071; */
    width: 30rem;
    z-index: 3;
}

.works-text-container h2{
    color: orange;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 1rem;
}

.works-text-container p{
    padding: 1rem 0;
    font-size: 1.1rem;
}

.link-preview-btn{
    border: 2px solid orange;
}

.link-preview-btn span{
    color: orange;
}

.link-preview-btn:hover,.link-preview-btn:focus{
    background-color: #ffa600;
}

.link-preview-btn:hover span,.link-preview-btn:focus span{
    color: #fff;
}

.link-preview-btn a{
    cursor: pointer;
}

.code-btn{
    border: 2px solid #2f00ff;
}

.code-btn span{
   color:#2f00ff;
}

.code-btn:hover,.code-btn:focus{
    background-color: #2f00ff;
    color: #fff;
}

.code-btn:hover span,.code-btn:focus span{
    color: #fff;
}

@media screen and (max-width:800px)  {
    .progress h1{
        position: sticky;
        top: 10%;
        font-size: 1.5rem;
        padding-top: 5rem;
    }

    .progress-line-bar{
        height: 4px;
    }

    .works-container{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0rem 2.5rem;
    }

    .works-container:last-child{
        padding-bottom: 5rem;
    }

    .works-image img{
        width: 100%;
        background: none;
        border-radius:0;
        border: none;
        box-shadow: none;
        margin-bottom: 1rem;
    }

    .works-text-container{
        padding: 0;
        margin: 0;
        width: 100%;
        background: none;
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .works-text-container h2{
        padding: 0;
        font-size: 1.1rem;
    }

    .works-text-container span{
        font-size: .8rem;
    }

    .works-text-container p{
        margin: 0;
        font-size: .9rem;
    }
}