/* font_families {
    font-family: "Tomorrow", sans-serif;
    font-family: "Silkscreen", sans-serif;
    font-family: "Timmana", sans-serif;
    font-family: "Lavishly Yours", cursive;
    font-family: "League Spartan", sans-serif;
} */

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: "League Spartan", sans-serif;
}

body{
    background:#02133a;
    color: #262527;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
    scroll-snap-align: center;
    line-height: 1.5rem;
}

a{
    cursor: pointer;
}

a:visited,a:link{
    color: inherit;
    text-decoration: none;
}

li{
    list-style: none;
}

@media screen and (max-width:400px) {

    html{
        scroll-snap-type:none;
        scroll-behavior: smooth;
    }

    body{
        width: auto;
        overflow-x: hidden;
    }

    section{
        height: auto;
        scroll-snap-align: none;
    }
}
